
@font-face {
  font-family: 'iransans';
  src: local('iransans'), url(./fonts/IRANSansDN.ttf) format('truetype');
  
  font-family: 'iransansnum';
  src: local('iransansnum'), url(./fonts/IRANSansDN_Fa_Num.ttf) format('truetype');
  font-family: 'iransansbold';
  src: local('iransansbold'), url(./fonts/IRANSansDN-Bold.ttf) format('truetype');
}

html {
  font-size: 62.5%; 
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: iransans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF9F8;
}
#root {
height: 100%;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 21rem;
  height: 100%;
}
@media screen and (max-width: 600px) {
.grid-container {
  grid-template-rows: 6rem 1fr 10rem;
  height: 100%;
}
 }
header {
  grid-area: header;
  background-color: #F5F5F5; 
   color:#000000;
}

main {
  grid-area: main;
  padding:0;
}

footer {
  grid-area: footer;
  background-color: #E4E4E4 ;
  color: #000000;
  
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  color: #0a0000;
  text-decoration: none;
}
a:hover {
  color: #EF394E;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}
li {
  margin-top: 1rem; 
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: iransans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
button {
  color: #ffffff;
  background-color: #f8f8f8;
  cursor: pointer;
  font-family: iransans;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  color: 0.1rem #404040 solid;
}
button.primary{
  background-color:#EF394E;
}
button.primary:hover {

  background-color: #ff3950;
}
button.block {
  width: 100%;
}
button.small {
  color: #000000;
  font-size: 1.2rem;
}

/* Header */
header a {
  color: #000000;
  padding: 1rem;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
  align-items: center;
}
.right {
  justify-content: right;
  align-items: right;
}
.center {
  justify-content: center;
  align-items: center;
}
.row.top{
 align-items: flex-start;
}
.col-1{
  flex: 1 1 25rem;
}
.col-2{
  flex: 2 1 50rem;
}
.col-3{
  flex:4;
}
.min-30 {
  min-width: 30rem;
}
/* Image */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
  height: 45rem;
 
}
img.large {
  width: 100%;
  max-width: 50rem;

}
img.small {
  max-width: 7rem;
  width: 100%;
}
/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-family: iransans;
  font-size: 2rem;
  color: #404040;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child{
  color: #404040;
}
/* Alert */
.success {
  color: #20a020;
}
.alert-success {
  color: #20a020;
}
.error {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color:#23689b;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

.loading {
  display: block !important;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;

}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #e7e5e5;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #20a020;
  color: #20a020;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.miniheader{
  z-index: 15;
}

aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}
.basket{
margin-top: 5px;
}
.signin{
 align-items: center;
 display: inline-flex;
}
.bold{
  font-family: iransansbold;
}

.headerImage{
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-image: url("1.jpg");
  
}

.headerButton{
  text-align: left;
  padding-top: 30px;
  padding-left: 150px;
  font-size: 5rem;
 
}

.headerText{
  font-size: 5rem;
  text-align: left;
  padding-top: 200px;
  padding-left: 50px;
}

center{
  text-align: center;
}

@media screen and (max-width: 600px) {
.headerText{
  font-size: 3rem;
  text-align: left;
  padding-top: 200px;
  padding-left: 50px;
}
}
@media screen and (max-width: 600px) {
.headerButton{
  text-align: left;
  padding-left: 80px;
  font-size: 5rem;
 
}
}
.hbtn{
 font-size: 2rem;
 background-color:#E4E4E4;
 border-color:#dadada;
 color: #000000;
}
@media screen and (max-width: 600px) {
  .hbtn{
    font-size: 1.3rem;
   }
  }
.brand {
    color: #f02020;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: bold;
  }
  @media screen and (max-width: 600px) {
    .brand {
      display: none;
    }
  }
  @media screen and (max-width: 400px) {
    .brand {
   display: none;
      
    }
  }
 
  .icons {
   
     color: '#C2C2C2'
   }
   @media screen and (max-width: 600px) {
    .icons {
      display:none;
      color: '#C2C2C2'
    }
  }